@{
    ViewBag.Title = "MVC Date Picker";
}

<h2>@ViewBag.Title</h2>

<form>
    <label>Enter date:</label>
    <input type="text" id="datepicker" />
    <button action="/Home/SendDate" type="submit" id="ajaxsend">Submit</button>
</form>